aside{
    box-shadow: 13px 0px 15px -3px rgba(0,0,0,0.1);
    left: 0;
    /* height:fit-content; */
    position: sticky;
    background: #1d2d44;
    color: white;
    /* background: white; */
    margin: 0 1rem;
    width: 20rem;
    /* border-radius: 10px; */
    /* overflow: hidden; */
    top:0;
    height: 41.8rem;
    /* height:100%; */
    text-align: left;
    padding: 1rem;
}
.title{font-size: x-large;
    font-weight: 700;
    padding-bottom: 2rem;
}
    .filter{
        align-items: center;
        justify-content: center;
    }
    .filter-title{
        font-size: large;
    }
table{
    width:100%;
    
}
.sidebar-table tr td:first-child{
    text-align: left;
    padding-top: 1rem;
}
.sidebar-table tr td:last-child{
    text-align: left;
    padding-left:2rem;
    padding-top: 1rem;
}
#dropdown-basic{
    background-color: #f5f4f4;
    border:none;
    color:black;
    width:100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}